language: python

matrix:
  include:
    - python: 2.7
      env:
        - COVERAGE=false
    - python: 3.3
      env:
        - COVERAGE=false
    - python: 3.4
      env:
        - COVERAGE=true

before_install:

  # Here we just install Miniconda, which you shouldn't have to change.

  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda/bin:$PATH
  - conda update --yes conda
  - cp wqio/testing/data/matplotlibrc .

install:

  # We just set up a conda environment with the right Python version. This
  # should not need changing.

  - conda create --yes -n test python=$TRAVIS_PYTHON_VERSION
  - source activate test
  #- conda config --add channels phobson
  - conda install --yes seaborn statsmodels numexpr openpyxl nose mock
  - conda install --yes coverage docopt requests pyyaml
  - pip install coveralls
  - pip install .

script:
  - python -c "import wqio; wqio.test(with_id=True, verbose=2, coverage=True)"

after_success:
  - if [ ${COVERAGE} = true ]; then coveralls; fi

