language: python

matrix:
  include:
    - python: 3.4
      env:
        - COVERAGE=false
    - python: 3.5
      env:
        - COVERAGE=true

before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda update --yes conda

install:
  - conda create --yes -n test python=$TRAVIS_PYTHON_VERSION
  - source activate test
  - conda install --yes matplotlib seaborn statsmodels numexpr openpyxl scipy
  - conda install --yes coverage docopt requests pyyaml pytest pytest-cov mock
  - conda install --yes mpl-probscale pytest-mpl --channel=conda-forge
  - pip install codecov
  - pip install .

script:
  - python check_wqio.py --mpl --verbose

after_success:
  - if [ ${COVERAGE} = true ]; then
      coverage run --source wqio check_wqio.py;
      coverage report -m;
      codecov;
    fi

